NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBt35tafORIAapZsA4AL4AHYClXy6bP-ms"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="studio-3449665797-2559e.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="studio-3449665797-2559e"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="studio-3449665797-2559e.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="191670656507"
NEXT_PUBLIC_FIREBASE_APP_ID="1:191670656507:web:029ec401662dc0ecdb3f5e"
NEXT_PUBLIC_RECAPTCHA_ENTERPRISE_SITE_KEY="6Le9Y5UsAAAAAEXAf8iXL1X2cRFQ4MMBQONkC2-_"
NEXT_PUBLIC_APPCHECK_DEBUG_TOKEN="E072AC21-63D0-4B0A-A9E2-FACA75E7D5C5"
